RVL_ALIAS "clk" "pid_i/clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "SCK" SITE "82" ;
LOCATE COMP "MOSI" SITE "81" ;
LOCATE COMP "MISO" SITE "78" ;
LOCATE COMP "MA_m1[1]" SITE "94" ;
LOCATE COMP "MA_m1[0]" SITE "96" ;
LOCATE COMP "MB_m1[1]" SITE "100" ;
BLOCK JTAGPATHS ;
LOCATE COMP "MA_m4[0]" SITE "143" ;
LOCATE COMP "MA_m4[1]" SITE "141" ;
LOCATE COMP "MB_m4[0]" SITE "140" ;
LOCATE COMP "MB_m4[1]" SITE "139" ;
LOCATE COMP "MC_m4[0]" SITE "132" ;
LOCATE COMP "MB_m3[0]" SITE "6" ;
LOCATE COMP "MB_m3[1]" SITE "1" ;
LOCATE COMP "MC_m3[0]" SITE "4" ;
LOCATE COMP "MB_m2[0]" SITE "67" ;
LOCATE COMP "MC_m3[1]" SITE "2" ;
LOCATE COMP "MC_m4[1]" SITE "25" ;
LOCATE COMP "MB_m2[1]" SITE "70" ;
LOCATE COMP "MA_m3[0]" SITE "14" ;
LOCATE COMP "MA_m3[1]" SITE "12" ;
LOCATE COMP "MC_m1[0]" SITE "107" ;
LOCATE COMP "MC_m1[1]" SITE "105" ;
LOCATE COMP "MB_m1[0]" SITE "98" ;
LOCATE COMP "HALL_A_OUT" SITE "28" ;
LOCATE COMP "HALL_B_OUT" SITE "24" ;
LOCATE COMP "HALL_C_OUT" SITE "20" ;
LOCATE COMP "MA_m2[0]" SITE "76" ;
LOCATE COMP "MA_m2[1]" SITE "74" ;
LOCATE COMP "MC_m2[0]" SITE "62" ;
LOCATE COMP "MC_m2[1]" SITE "69" ;
LOCATE COMP "H_C_m3" SITE "110" ;
LOCATE COMP "H_A_m3" SITE "113" ;
LOCATE COMP "H_B_m3" SITE "111" ;
LOCATE COMP "H_B_m1" SITE "43" ;
LOCATE COMP "H_A_m1" SITE "47" ;
LOCATE COMP "H_A_m4" SITE "33" ;
LOCATE COMP "H_B_m4" SITE "35" ;
LOCATE COMP "H_C_m4" SITE "34" ;

LOCATE COMP "H_A_m2" SITE "73" ;
LOCATE COMP "H_B_m2" SITE "71" ;
LOCATE COMP "H_C_m2" SITE "58" ;
LOCATE COMP "H_C_m1" SITE "38" ;
LOCATE COMP "CS" SITE "86" ;
LOCATE COMP "LED1" SITE "97" ;
LOCATE COMP "LED3" SITE "104" ;
LOCATE COMP "LED4" SITE "106" ;
LOCATE COMP "LED2" SITE "99" ;
