rvl_alias "clk" "pid_i/clk";
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "SCK" SITE "56" ;
LOCATE COMP "MOSI" SITE "50" ;
LOCATE COMP "MISO" SITE "45" ;
LOCATE COMP "CS" SITE "41" ;
LOCATE COMP "MA_m1[1]" SITE "125" ;
LOCATE COMP "MA_m1[0]" SITE "126" ;
LOCATE COMP "MB_m1[1]" SITE "109" ;
LOCATE COMP "MB_m1[0]" SITE "110" ;
LOCATE COMP "MC_m1[0]" SITE "117" ;
LOCATE COMP "MC_m1[1]" SITE "115" ;
LOCATE COMP "H_A_m1" SITE "140" ;
LOCATE COMP "H_B_m1" SITE "142" ;
LOCATE COMP "H_C_m1" SITE "138" ;
BLOCK JTAGPATHS;
