RVL_ALIAS "clk" "pid_i/clk"; 
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "MOSI" SITE "20" ;
LOCATE COMP "MA_m1[1]" SITE "47" ;
LOCATE COMP "MA_m1[0]" SITE "45" ;
BLOCK JTAGPATHS ;
LOCATE COMP "H_C_m3" SITE "111" ;
LOCATE COMP "H_A_m3" SITE "112" ;
LOCATE COMP "H_B_m3" SITE "110" ;
LOCATE COMP "H_B_m1" SITE "38" ;
LOCATE COMP "H_A_m1" SITE "40" ;
LOCATE COMP "H_A_m4" SITE "141" ;
LOCATE COMP "H_B_m4" SITE "143" ;
LOCATE COMP "H_C_m4" SITE "142" ;
LOCATE COMP "H_A_m2" SITE "62" ;
LOCATE COMP "H_B_m2" SITE "60" ;
LOCATE COMP "H_C_m2" SITE "61" ;
LOCATE COMP "H_C_m1" SITE "39" ;
LOCATE COMP "MISO" SITE "21" ;
LOCATE COMP "SCK" SITE "22" ;
LOCATE COMP "CS" SITE "19" ;
LOCATE COMP "MA_m2[0]" SITE "70" ;
LOCATE COMP "MA_m2[1]" SITE "71" ;
LOCATE COMP "MA_m3[0]" SITE "109" ;
LOCATE COMP "MA_m3[1]" SITE "107" ;
LOCATE COMP "MA_m4[0]" SITE "140" ;
LOCATE COMP "MA_m4[1]" SITE "139" ;
LOCATE COMP "MB_m1[0]" SITE "43" ;
LOCATE COMP "MB_m1[1]" SITE "44" ;
LOCATE COMP "MB_m2[0]" SITE "68" ;
LOCATE COMP "MB_m2[1]" SITE "69" ;
LOCATE COMP "MB_m3[0]" SITE "106" ;
LOCATE COMP "MB_m3[1]" SITE "105" ;
LOCATE COMP "MB_m4[0]" SITE "138" ;
LOCATE COMP "MB_m4[1]" SITE "133" ;
LOCATE COMP "MC_m1[0]" SITE "41" ;
LOCATE COMP "MC_m1[1]" SITE "42" ;
LOCATE COMP "MC_m2[0]" SITE "63" ;
LOCATE COMP "MC_m2[1]" SITE "67" ;
LOCATE COMP "MC_m3[0]" SITE "104" ;
LOCATE COMP "MC_m3[1]" SITE "103" ;
LOCATE COMP "MC_m4[0]" SITE "132" ;
LOCATE COMP "MC_m4[1]" SITE "128" ;
